* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #eceed5; }

h1 {
  color: brown;
  padding: 10px; }

h3 {
  margin-left: 5px; }

h4 {
  padding: 5px; }

p {
  color: black;
  font-size: small; }

ul {
  list-style-type: none; }

ul li a {
  text-decoration: none; }

.bordesredondeados {
  border-radius: 20px; }

html {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif; }

main {
  overflow-x: hidden; }

.seccion-principal-index {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.noticia-1 {
  display: flex;
  justify-content: center; }

.responsive-image {
  width: 500px;
  height: 400px;
  padding-right: .3125rem; }

.responsive-video {
  width: 500px;
  height: 400px;
  padding-left: .3125rem; }

.videos-mas-vistos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

.ult-video-visto-1 {
  width: 500px;
  height: 400px;
  padding-right: .3125rem; }

.ult-video-visto-2 {
  width: 500px;
  height: 400px;
  padding-left: .3125rem; }

.posts {
  padding-left: .625rem;
  padding-top: 10px; }

.posts-mas-leidos {
  display: flex;
  padding: .625rem .125rem; }

main {
  overflow-x: hidden; }

.h1-nov {
  padding-top: 100px; }

.novedades {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.article-novedades, .ultimos-videos {
  display: flex;
  padding: 5px;
  gap: 5px; }

.ultimos-videos {
  flex-wrap: wrap;
  gap: 10px; }

.ult-video-nov {
  width: 400px;
  height: 300px; }

main {
  overflow-x: hidden; }

.seccion-principal-videos {
  padding-top: 80px;
  padding-left: 10px; }

.videos-videos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.video-video-ppal {
  width: 900px;
  height: 500px; }

.video-secundario-1, .video-secundario-2 {
  width: 450px;
  height: 240px; }

.videos-mas {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.ult-video-video-1, .ult-video-video-2, .ult-video-video-3 {
  width: 300px;
  height: 200px; }

main {
  overflow-x: hidden; }

.seccion-principal-sobremi {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mis--trabajos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; }

.p-sobremi {
  font-size: medium; }

.billyemece {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px; }

main {
  overflow-x: hidden; }

.contactame {
  padding: 70px 10px 10px 10px; }

.contact-me {
  display: flex;
  align-items: center;
  gap: 15px; }

.form {
  padding: 20px; }

footer {
  background-color: #be9898;
  padding: 5px;
  display: flex;
  justify-content: space-around; }

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; }

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
  animation: scale-up-center 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335) both; }

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s ease-in both;
  animation: slide-fwd-center 0.45s ease-in both; }

@media (max-width: 1024px) {
  .seccion-principal-index {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion-principal-novedades {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .h2-425 {
    display: none; }
  .seccion-principal-videos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .videos-videos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ult-video-2 {
    display: flex; } }

@media (max-width: 768px) {
  .seccion-principal-index {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion-principal-novedades {
    padding-top: 70px;
    display: flex;
    flex-direction: column; }
  .seccion-principal-videos {
    padding-top: 70px;
    display: flex;
    flex-direction: column; }
  .video-video-ppal {
    width: 700px;
    height: 400px; }
  .video-secundario-1, .video-secundario-2 {
    width: 450px;
    height: 240px;
    padding-bottom: 10px; }
  .videos-videos-secundarios {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px; }
  .noticia-1 {
    width: 760px;
    display: flex;
    justify-content: center; }
  .videos-mas-vistos {
    width: auto;
    height: auto; }
  .noticia-ppal {
    display: none; }
  .ultimos-videos {
    width: auto;
    display: flex;
    justify-content: center; }
  .ult-video-2 {
    display: none; }
  .post-art-3 {
    display: none; }
  div form input {
    height: 50px;
    width: 200px; } }

@media (max-width: 425px) {
  body {
    width: 100%;
    height: auto; }
  h1 {
    display: flex;
    align-content: center;
    justify-content: center; }
  h3 {
    display: flex;
    align-content: center;
    justify-content: center; }
  p {
    display: flex;
    align-content: center;
    justify-content: center; }
  .seccion-principal-index {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .responsive-video {
    width: 350px;
    height: 300px; }
  .ult-video-visto-1 {
    width: 350px;
    height: 300px; }
  .seccion-principal-novedades {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: auto; }
  .seccion-principal-videos {
    padding-left: 0px; }
  .videos-mas-vistos {
    width: 420px; }
  .ultimos-videos {
    width: 100%; }
  .ult-video-2 {
    display: none; }
  .ult-video-2-nov {
    display: none; }
  .posts-mas-leidos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion-principal-contacto {
    width: auto;
    height: auto;
    display: flex;
    align-items: center; }
  .contacto-425 {
    width: 100%;
    height: auto; }
  .noticia-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; }
  .video-ppal-425 {
    width: 100%;
    height: 300px; }
  .video-video-ppal {
    width: 400px;
    height: 250px; }
  .ult-video-video-1, .ult-video-video-2, .ult-video-video-3 {
    width: 400px;
    height: 250px; }
  .ult-video-video-2 {
    width: 400px;
    height: 250px; }
  .videos-videos-secundarios {
    display: none; }
  .posts-art-2 {
    display: none; }
  div form {
    padding-top: 10px; }
  div form input {
    height: 30px;
    width: 200px; }
  .billyemece {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
  .mis--trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .cont-billy {
    display: none; }
  .h2-425 {
    display: none; }
  .billy-copy {
    display: none; }
  .redes {
    display: none; } }

@media (max-width: 375px) {
  body {
    width: auto;
    height: auto; }
  .seccion-principal-index {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion-principal-videos {
    padding-left: 0px; }
  .responsive-video {
    width: 320px;
    height: 320px; }
  .videos-mas-vistos {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ult-video-nov {
    width: 350px;
    height: 200px; }
  .ult-video-1 {
    display: flex;
    justify-content: center;
    width: 320px;
    height: auto; }
  .video-video-ppal {
    width: 350px;
    height: 220px; }
  .ult-video-video-1, .ult-video-video-2, .ult-video-video-3 {
    width: 350px;
    height: 220px; }
  .ult-video-video-2 {
    width: 350px;
    height: 220px; } }

@media (max-width: 320px) {
  body {
    width: 320px;
    height: auto; }
  .seccion-principal-index {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .responsive-video {
    width: 300px;
    height: 300px; }
  .videos-mas-vistos {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ult-video-nov {
    width: 310px;
    height: 180px; }
  .ult-video-2-nov {
    display: none; }
  .video-video-ppal {
    width: 300px;
    height: 200px; }
  .ult-video-video-1, .ult-video-video-2, .ult-video-video-3 {
    width: 300px;
    height: 200px; }
  .ult-video-video-2 {
    width: 300px;
    height: 200px; }
  .ult-video-1 {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 0px;
    gap: 0px;
    height: auto; }
  .sobre-mi {
    width: 320px;
    height: auto; }
  .billyemece {
    width: 310px;
    height: auto; } }
