.seccion-principal-index{
    @include grid(5rem,4,3,"principal principal principal aside""videos videos videos aside""posts posts posts aside");
}
.videos-mas-vistos{
    display: flex;
    flex-wrap: wrap;
    padding: .3125rem .125rem .3125rem .3125rem;
    gap: .25rem;
    grid-area: videos;
}
.noticia-1{
    display: flex;
    padding: .625rem .3125rem;
    gap: .625rem;
    grid-area: principal;
}
.posts{
    grid-area: posts;
}

.posts-mas-leidos{
    display: flex;
    padding: .3125rem .125rem;
    gap: .125rem;
}