.novedades{
    display: flex;
    flex-direction: column;
    padding: 5px 2px 5px 5px;
    gap: 4px;
    grid-area: novedades;
}

.article-novedades{
    display: flex;
}

.ultimos-videos{
    @extend .article-novedades;
    flex-wrap: no-wrap;
    padding: 5px 2px 5px 5px;
    gap: 4px;
}
.seccion-principal-novedades{
    @include grid (80px,2,2,"novedades aside""videos aside");
}