@media (max-width:425px){
    html {
        body {
            width: 425px;
        }
    }
    .seccion-principal-index{
        width: 425px;
        @include flex;
        flex-direction: column;
        align-items: center;
    }

    .noticia-1{
        width: 400px;
        height: 320px;
        display: flex;
        justify-content: center;
    }

    .video-ppal-425{
        width: 370px;
        height: 250px;
    }

    .video-video-ppal{
        width: 415px;
        height: 250px;
    }

    .videos-videos-secundarios{
        display: none;
    }

    .videos-mas-vistos{
        display: flex;
        justify-content: center;
    }

    .ult-video-2{
        display: none;
    }

    .posts-mas-leidos{
        display: flex;
        justify-content: center;
    }

    .posts-art-2{
        display: none;
    }

    div {
        form{
        padding-top: 10px;
        }
    }
    h2{
        display:flex;
        align-content: center;
        justify-content: center;
    }

    h3{
        display:flex;
        align-content: center;
        justify-content: center;
    }

    p{
        display:flex;
        align-content: center;
        justify-content: center;
    }

    div {
        form {
            input{
                height: 30px;
                width: 200px;
                }
            }
        }

    .billyemece{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .mis--trabajos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    aside{
        display: none;
    }   
    .billy-copy{
        display:none;
    }
}