@mixin flex{
    display: flex;
    align-items: center;
}

@mixin grid($padding,$row,$col,$area){
    display: grid;
    padding-top: $padding;
    grid-template-rows: $row;
    grid-template-columns: $col;
    grid-template-areas: $area;
}