main{
    overflow: z-index;
}
.seccion-principal-sobremi{
    padding-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mis--trabajos{
    @include flex;
    justify-content: space-between;
}

.billyemece{
    @include flex;
}
.h2-sobremi{
    display:none;
}
