.seccion-principal-index{
    @include grid(5rem,auto auto auto,75% 25%,
    "principal aside"
    "videos aside"
    "posts aside");
}
.noticia-1{
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    gap: 10px;
    grid-area: principal;
}
.responsive-image{
    width: 400px;
    height: 300px;
}
.responsive-video{
    width: 400px;
    height: 300px;
}
.videos-mas-vistos{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 2px 5px 5px;
    gap: 10px;
    grid-area: videos;
}
.posts{
    grid-area: posts;
}

.posts-mas-leidos{
    display: flex;
    padding: 5px 2px;
    gap: 2px;
}