main{
    overflow-x: hidden;
}
.h1-nov{
    padding-top: 100px;
}
.novedades{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.article-novedades{
    display: flex;
    padding: 5px;
    gap: 5px;
}

.ultimos-videos{
    @extend .article-novedades;
    flex-wrap: wrap;
    gap: 10px;
}
.ult-video-nov{
    width: 400px;
    height: 300px; 
}
