.h2-nov{
    padding-top: 100px;
}
.novedades{
    display: flex;
    flex-direction: column;
}

.article-novedades{
    display: flex;
}

.ultimos-videos{
    @extend .article-novedades;
    flex-wrap: no-wrap;
}
.ult-video-3{
    display: none;
}
