.contactame{
    grid-area: contactame;
}

.seccion-principal-contacto{
    @include grid(70px,2,2,"contactame aside""form aside"); 
    justify-self: auto;
}   

.contact-me{
    @include flex;
    gap: 10px;
}

.form{
    grid-area: form;
    padding: 10px;
}