@media (max-width:425px){
    body {
        width: 100%;
        height: auto;
        }
    
    h2{
        display:flex;
        align-content: center;
        justify-content: center;
    }
    h3{
        display:flex;
        align-content: center;
        justify-content: center;
    }

    p{
        display:flex;
        align-content: center;
        justify-content: center;
    }
    .seccion-principal-index{
        width: auto;
        @include flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .seccion-principal-novedades{
        width: auto;
        @include flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .videos-mas-vistos{
        width: 425px;
        padding: 0px;
        gap: 0px;
    }
    .ult-video-1{
        display: flex;
        justify-content: center;
        width: 425px;
        padding: 0px;
        gap: 0px;
        height: auto;
    }
    .ultimos-videos{
        width: 100%;
    }
    .ult-video-2{
        display: none;
    }
    .ult-video-2-nov{
        display: none;
    }
    .posts-mas-leidos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-principal-contacto{
        width: auto;
        height: auto;
        @include flex;
    }
    .contacto-425{
        width: 100%;
        height: auto;
    }
    .noticia-1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .video-ppal-425{
        width: 100%;
        height: 300px;
    }

    .video-video-ppal{
        width: 100%;
        height: 250px;
    }

    .videos-videos-secundarios{
        display: none;
    }

    .posts-art-2{
        display: none;
    }

    div {
        form{
        padding-top: 10px;
        }
    }
    

    .h2-sobremi{
        display: none;
    }
    

    div {
        form {
            input{
                height: 30px;
                width: 200px;
                }
            }
        }

    .billyemece{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .mis--trabajos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cont-billy{
        display:none;
    }
    .h2-425{
        display:none;
    }
    .aside{
        display: none;
    }   
    .billy-copy{
        display:none;
    }
    .redes{
        display:none;
    }
}