@media (max-width:768px){
    .seccion-principal-index{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-principal-novedades{
            padding-top: 70px;
            display: flex;
            flex-direction: column;
        }
    
    h2{
        padding: 0px;
    }
    
    .seccion-principal-videos{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
    }
    .video-video-ppal{
        width: 760px;
        height: 400px;
    }
    .videos-videos-secundarios{
        @include flex;
        flex-direction: column;
        gap: 5px;
    }
    .noticia-1{
        width: 760px;
        display: flex;
        justify-content: center;
    }
    .videos-mas-vistos{
        width: auto;
        height: auto;
    }
    
    .noticia-ppal{
        display: none;
    }

    .ult-video-3{
        display: none;
    }
    .ultimos-videos{
        width: auto;
        display: flex;
        justify-content: center;
    }
    
    .post-art-3{
        display: none;
    }
    
    div {
        form {
            input{
        height: 50px;
        width: 200px;
            }
        }
    }
.ult-video-2{
    display: none;
}
    .aside {
        display:none;
}
}