@media (max-width:1024px){
.seccion-principal-index{
    @include grid(5rem,auto auto auto,70% 30%,
    "principal aside"
    "videos aside"
    "posts aside");
}
.seccion-principal-novedades{
    @include grid (5rem,auto auto,60% 40%,
    "novedades aside"
    "videos aside");
}
.responsive-image{
    display: none;
}
.ult-video-2{
    display: none;
}
.aside-videos{
    display:none;
}
.seccion-principal-videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.videos-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ult-video-2{
    display: flex;
}
}
