@media (max-width:375px){
    body {
            width: auto;
            height: auto;
            }
    
    .seccion-principal-index{
        width: auto;
        @include flex;
        flex-direction: column;
        align-items: center;
    }
    .responsive-video{
        width: 320px;
        height: 320px;
    }
    .videos-mas-vistos{
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ult-video-1{
        display: flex;
        justify-content: center;
        width: 320px;
        padding: 0px;
        gap: 0px;
        height: auto;
    }
    }