@media (max-width:1024px){
.seccion-principal-index{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion-principal-novedades{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.responsive-image{
    display: none;
}
.h2-425{
    display:none;
}
.ult-video-2{
    display: none;
}

.seccion-principal-videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.novedades{
    gap: 0px;
    padding: 0px;
}
.videos-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ult-video-2{
    display: flex;
}
.aside{
    display: none;
}
}
