@media (max-width:425px){
    body {
        width: 100%;
        height: auto;
        }
    h1{
        display:flex;
        align-content: center;
        justify-content: center;
    }
    h3{
        display:flex;
        align-content: center;
        justify-content: center;
    }
    p{
        display:flex;
        align-content: center;
        justify-content: center;
    }
    .seccion-principal-index{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .responsive-video{
        width: 350px;
        height: 300px;
    }
    .ult-video-visto-1{
        width: 350px;
        height: 300px;
    }
    .seccion-principal-novedades{
        width: auto;
        @include flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .seccion-principal-videos{
        padding-left: 0px;
    }
    .videos-mas-vistos{
        width: 420px;
    }
    .ultimos-videos{
        width: 100%;
    }
    .ult-video-2{
        display: none;
    }
    .ult-video-2-nov{
        display: none;
    }
    .posts-mas-leidos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-principal-contacto{
        width: auto;
        height: auto;
        @include flex;
    }
    .contacto-425{
        width: 100%;
        height: auto;
    }
    .noticia-1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .video-ppal-425{
        width: 100%;
        height: 300px;
    }
    .video-video-ppal{
        width: 400px;
        height: 250px;
    }
    .ult-video-video-1{
        width: 400px;
        height: 250px;
    }
    .ult-video-video-2{
        width: 400px;
        height: 250px;
    }
    .videos-videos-secundarios{
        display: none;
    }
    .posts-art-2{
        display: none;
    }
    div {
        form{
        padding-top: 10px;
        }
    }  
    div {
        form {
            input{
                height: 30px;
                width: 200px;
                }
            }
        }
    .billyemece{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .mis--trabajos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cont-billy{
        display:none;
    }
    .h2-425{
        display:none;
    } 
    .billy-copy{
        display:none;
    }
    .redes{
        display:none;
    }
}