.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s ease-in both;
	        animation: slide-fwd-center 0.45s ease-in both;
}
